*{
    margin: 0px;
    padding: 0px;
}
body{
   background: #333333;
}
.header{
    width: auto;
    height: 100px;
}
.header a img {
    height: 100px;
    float: left;
}
.header ul a {
    text-decoration: none;
    list-style: none;
    float: left;
    padding-left: 50px;
    margin-top: 75px;
    font-size: 30px;
    color: white;
}
.header ul a :hover{
    color: yellowgreen;
}
.header button{
    height: 30px;
    border-radius: 30px;
    float: right
}
.main{
    width: 1920px;
    height:100px;
    padding-top: 30px;
}
.main h1{
    padding-left: 870px;
    color: white;
}
.left-main{
    width: 900px;
    height: 1525px;
    float: left;
}
.left-main p{
    padding-top: 70px;
    color: white;
}
.left-main h2{
    padding-top: 30px;
    color: white;
}
.left-main em span{
    color: black;
    font-size: 30px;
}
.left-main a{
    color: white;
}
.right-main{
    margin-top: 40px;
    width:1020px ;
    height: 1525px;
    float: left;
}
.right-main img{
    height: 300px;
    padding-top: 40px;
}
.right-main a :hover{
   background-color: yellowgreen;
}
.right-main a {
    color: white;
}
.left-main img{
    height: 300px;
    width:700px ;
    padding-top: 160px;
}
.right-main h2{
    padding-top: 80px;
    color: white;
  
}
.right-main em span {
    font-size: 30px;
}
#pntpic{
padding-top: 184px;
    margin-left: 190px;
}
#mappnt{
    margin-left: 90px;
}
footer{
    width: auto;
    height: 80px;
    margin-top: 822px;
    clear: both;
    background-color: rgba(0,0,0,0.8)
}
.foot1{
    width: 1920px;
    height: 80px;
    float: left;
}
.foot1 img{
    height: 80px;
    float: left;
    
}   
.foot1 em span{
    color: white;
    padding-left: 20px;
    padding-top: 30px;
    float: left;
}
.foot .contract {
    display: flex;
    justify-content: center;
    width: 1000px;
}
.foot1 a {
    padding-left: 20px;
    padding-top: 30px;
    color: white;
    display: flex;
    float: left;
    
}