*{
    margin: 0px;
    padding: 0px;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    width: auto;
    height: 100px;
}
.header a img {
    height: 100px;
    float: left;
}
.header ul a {
    text-decoration: none;
    list-style: none;
    float: left;
    padding-left: 50px;
    margin-top: 75px;
    font-size: 30px;
    color: white;
}
.header ul a :hover{
    color: yellowgreen;
}
.header button{
    height: 30px;
    border-radius: 30px;
    float: right
}
.main{
    width: 1920px;
    height: 70px;
    padding-top: 100px;
}
.main h1{
    text-align: center;
    padding-top: 50px;
    margin-top: 30px;
    color: white;
    background-color:rgba(0,0,0,0.8); ;
    border: 2px solid;
    border-radius: 30px;
}
.main a :hover{
    color: yellowgreen;
}
footer{
    width: auto;
    height: 80px;
    margin-top: 822px;
    clear: both;
    background-color: rgba(0,0,0,0.8)
}
.foot1{
    width: 1920px;
    height: 80px;
    float: left;
}
.foot1 img{
    height: 80px;
    float: left;
    
}   
.foot1 em span{
    color: white;
    padding-left: 20px;
    padding-top: 30px;
    float: left;
}
.foot .contract {
    display: flex;
    justify-content: center;
    width: 1000px;
}
.foot1 a {
    padding-left: 20px;
    padding-top: 30px;
    color: white;
    display: flex;
    float: left;
}